<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>phi</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PhiAssign</display-name>
    <servlet-name>PhiAssign</servlet-name>
    <servlet-class>com.psr.main.PhiAssign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhiAssign</servlet-name>
    <url-pattern>/PhiAssign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhiSearchServlet</display-name>
    <servlet-name>PhiSearchServlet</servlet-name>
    <servlet-class>com.psr.main.PhiSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhiSearchServlet</servlet-name>
    <url-pattern>/PhiSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhiWelcome</display-name>
    <servlet-name>PhiWelcome</servlet-name>
    <servlet-class>com.psr.main.PhiWelcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhiWelcome</servlet-name>
    <url-pattern>/PhiWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhiDetail</display-name>
    <servlet-name>PhiDetail</servlet-name>
    <servlet-class>com.psr.main.PhiDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhiDetail</servlet-name>
    <url-pattern>/PhiDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhiCustom</display-name>
    <servlet-name>PhiCustom</servlet-name>
    <servlet-class>com.psr.main.PhiCustom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhiCustom</servlet-name>
    <url-pattern>/PhiCustom</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.psr.main.PhiWelcome</listener-class>
  </listener>
</web-app>